.colab-tag {
    cursor: pointer;
    transition: 0.2s;
}

.colab-tag:hover {
    background-color: #f8f9fa !important;
}

.colab-tag-selected {
    cursor: pointer;

}

.colab-tag-nonselect {
    cursor: default;
}